
@{
    ViewData["Title"] = "Index Home";
}
    <h2>@ViewBag.Nombre</h2>
    <h3>@ViewBag.Fecha</h3>

@Html.ActionLink("Ir a Opera","Index","Opera")

@section SideBar{ 


<p>Menú Intranet</p>

<ul>
    <li>
        <a href="#">link1</a>
    </li>
    <li>
        <a href="#">link2</a>
    </li>
    <li>
        <a href="#">link3</a>
    </li>
    <li>
        <a href="#">link4</a>
    </li>
    <li>
        <a href="#">link5</a>
}